@model DiscoverGroupsContainer

@{
    ViewData["Title"] = "Gruppe suchen";
    List<SportGroup> sportGroupsToDisplay = Model.SportGroupsToDisplay;
    List<ActivityCategoryType> checkedActivities = Model.FilterSettings.ActivityCategories;
    List<GenderRestrictionType> checkedGenderRestrictions = Model.FilterSettings.GenderRestrictions;
    int maxDistance = Model.FilterSettings.MaxDistance;
    int maxParticipants = Model.FilterSettings.MaxParticipants;
    string filterSettingsQuery = Model.FilterSettings.GetFilterSettingsQueryString();

    string minDate = string.Empty;
    if (Model.FilterSettings.MinDate.HasValue)
        minDate = Model.FilterSettings.MinDate.Value.ToString("yyyy-MM-ddTHH:mm");

    string maxDate = string.Empty;
    if (Model.FilterSettings.MaxDate.HasValue)
        maxDate = Model.FilterSettings.MaxDate.Value.ToString("yyyy-MM-ddTHH:mm");
}

<link rel="stylesheet" href="~/css/discovergroups.css" />
<link rel="stylesheet" href="~/css/participants.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" />

<div class="viewcontainer">
    <div id="pageindex" class="hidden">@Model.PaginationInfo.CurrentPageIndex</div>
    <div class="filtercontainer">
        <form id="filterformgrid" asp-controller="SportGroup" asp-action="DiscoverGroups">
            <h3>Filter</h3>
            <div class="text-right vcenter">
                <span id="resetbutton">Zurücksetzen</span>
                <img id="resetbuttonicon" src="~/icons/reset-icon.png" />
            </div>

            <b>Aktivität</b>
            <div class="activitygrid">
                @foreach (var activityTag in Model.AllActivityTags)
                {
                    <div>
                        <input type="checkbox" name="ActivityCategories" value="@activityTag.ActivityCategory" checked="@checkedActivities.Contains(activityTag.ActivityCategory)" />
                        <img src="@activityTag.IconUrl" title="@activityTag.ActivityCategory" />
                    </div>
                }
            </div>

            <b>Geschlecht</b>
            <div class="gendergrid">
                @foreach (var genderRestrictionTag in Model.AllGenderRestrictionTags)
                {
                    <div>
                        <input type="checkbox" name="GenderRestrictions" value="@genderRestrictionTag.GenderRestriction" checked="@checkedGenderRestrictions.Contains(genderRestrictionTag.GenderRestriction)" />
                        <img src="@genderRestrictionTag.IconUrl" title="@genderRestrictionTag.GenderRestriction" />
                    </div>
                }
            </div>

            <b>Max. Entfernung</b>
            <div>
                <input id="maxdistanceslider" class="slider" type="range" min="@ApplicationConstants.MinShownSportGroupDistance" max="@ApplicationConstants.MaxShownSportGroupDistance" name="MaxDistance" value="@maxDistance" />
                <div class="right">
                    <input id="maxdistanceslidervalue" type="number" class="valuelabel" min="1" max="250" />
                    <span>km</span>latitude
                </div>
            </div>


            <b>Max. Teilnehmer</b>
            <div>
                <input id="participantsslider" class="slider" type="range" min="@ApplicationConstants.MinSportGroupParticipants" max="@ApplicationConstants.MaxSportGroupParticipants" name="MaxParticipants" value="@maxParticipants" />
                <div class="right">
                    <input id="participantsslidervalue" type="number" class="valuelabel" min="2" max="20" />
                    <span>Personen</span>
                </div>
            </div>


            <b>Datum</b>
            <div class="dategrid">
                <div class="hcenter">
                    <p>Von</p>
                    <input id="mindate" type="datetime-local" name="MinDate" value="@minDate" min="@DateTime.Today.ToString("yyyy-MM-ddTHH:mm")" />
                </div>
                <div class="hcenter">
                    <p>Bis</p>
                    <input id="maxdate" type="datetime-local" name="MaxDate" value="@maxDate" min="@DateTime.Today.ToString("yyyy-MM-ddTHH:mm")" />
                </div>
            </div>

            <input id="submitbutton" type="submit" class="primarybutton hcenter" value="Anwenden" />
        </form>
    </div>

    <div class="use-all-space" id="map"></div>

    @{
        if (Model.SportGroupsToDisplay.Count > 0)
        {
            <table class="sportgroupstable">
                <tr>
                    <th width="40%">
                        <h3 class="centerText">Gruppenname</h3>
                    </th>

                    <th width="10%">
                        <h3 class="centerText">Teilnehmer</h3>
                    </th>

                    <th width="15%">
                        <h3 class="centerText">Tags</h3>
                    </th>

                    <th width="10%">
                        <h3 class="centerText">Standort</h3>
                    </th>

                    <th width="10%">
                        <h3 class="centerText">Datum</h3>
                    </th>

                    <th width="15%"></th>
                </tr>

                @foreach (var sportGroup in Model.SportGroupsToDisplay)
                {
                    <tr class="tablerow">
                        <td class="firsttablecolumn">
                            <div id="groupid" class="hidden">@sportGroup.Id</div>
                            <span id="groupname">@sportGroup.GroupName</span>
                        </td>

                        <td class="centerText">
                            <div class="participantsgrid">
                                <span class="text-right vcenter">@sportGroup.Participants.Count / @sportGroup.MaxParticipants</span>
                                <button class="primarybutton participantsbutton left"><img src="/icons/participants-icon.png" /></button>
                            </div>
                        </td>

                        <td class="centerText">
                            @{
                                foreach (var activityTag in sportGroup.ActivityTags)
                                {
                                    <img class="tagicon" src="@activityTag.IconUrl" title="@activityTag.ActivityCategory" />
                                }
                                if (sportGroup.GenderRestrictionTag != null)
                                {
                                    <img class="tagicon" src="@sportGroup.GenderRestrictionTag.IconUrl" title="@sportGroup.GenderRestrictionTag.GenderRestriction" />
                                }
                            }
                        </td>

                        <td class="centerText">
                            <img id="@sportGroup.Id" class="mapicon" src="/icons/maps-icon.png" />
                            <input id="latitude" type="hidden" value="@sportGroup.Latitude.ToString(CultureInfo.InvariantCulture)" />
                            <input id="longitude" type="hidden" value="@sportGroup.Longitude.ToString(CultureInfo.InvariantCulture)" />
                        </td>

                        <td class="centerText">
                            <span>@sportGroup.MeetupDate.ToString("dd.MM.yyyy") / @sportGroup.MeetupDate.ToString("H:mm") Uhr</span>
                        </td>

                        <td class="centerText lasttablecolumn">
                            <input class="primarybutton center joinbutton" type="button" value="Beitreten" />
                        </td>
                    </tr>
                }
            </table>

            <div class="paginationcontainer hcenter">
                @if (Model.PaginationInfo.PreviousPageIndexes.Count() > 0)
                {
                    <input class="primarybutton paginationbutton adjacentpagebutton use-all-space" type="button" value="Zurück" onclick="location.href='/SportGroup/DiscoverGroups/@(Model.PaginationInfo.CurrentPageIndex-1)?@filterSettingsQuery'" />
                }

                @foreach (var prevPageIndex in Model.PaginationInfo.PreviousPageIndexes)
                {
                    <input class="primarybutton paginationbutton pageindexbutton use-all-space" type="button" value="@prevPageIndex" onclick="location.href='/SportGroup/DiscoverGroups/@prevPageIndex?@filterSettingsQuery'" />
                }

                <input class="primarybutton paginationbutton pageindexbutton currentpagebutton use-all-space" type="button" value="@Model.PaginationInfo.CurrentPageIndex" onclick="location.href='/SportGroup/DiscoverGroups/@Model.PaginationInfo.CurrentPageIndex?@filterSettingsQuery'" />

                @foreach (var nextPageIndex in Model.PaginationInfo.NextPageIndexes)
                {
                    <input class="primarybutton paginationbutton pageindexbutton use-all-space" type="button" value="@nextPageIndex" onclick="location.href='/SportGroup/DiscoverGroups/@nextPageIndex?@filterSettingsQuery'" />
                }

                @if (Model.PaginationInfo.NextPageIndexes.Count() > 0)
                {
                    <input class="primarybutton paginationbutton adjacentpagebutton use-all-space" type="button" value="Weiter" onclick="location.href='/SportGroup/DiscoverGroups/@(Model.PaginationInfo.CurrentPageIndex+1)?@filterSettingsQuery'" />
                }
            </div>
        }
        else
        {
            <div class="nogroupstext centerText">
                <h3>Es konnten keine Gruppen gefunden werden</h3>
                <input class="primarybutton" type="button" value="Demo Gruppen erstellen" onclick="location.href='/SportGroup/CreateDemoData'" />
            </div>
        }
    }
</div>

@if (TempData.ContainsKey("JoinPopupGroupId"))
{
    <link rel="stylesheet" href="~/css/confirmjoin.css" />
    <input id="joinpopupgroupid" type="hidden" value="@TempData["JoinPopupGroupId"]" />
    <script src="~/js/confirmjoin.js" asp-append-version="true"></script>
}

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<script src="~/js/discovergroups.js" asp-append-version="true"></script>
<script src="~/js/participants.js" asp-append-version="true"></script>




